{
  "debug": true,
  "mongo": {
    "@": {
      "host": "localhost",
      "port": 27017
    },
    "db": "sourced",
    "collections": {
      "people": "people.d20160421",
      "proposals": "proposals"
    }
  },
  "clusters": "/home/sourced/cache/clusters.pickle"
}
