{
  "debug": true,
  "mongo": {
    "@": {
      "host": "localhost",
      "port": 27017
    },
    "db": "sourced",
    "collections": {
      "people": "people.d20160421"
    }
  },
  "clusters": {
    "topics":  "topic_clusters.pickle",
    "langs": "lang_clusters.pickle"
  }
}
